accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
backoff
bcrypt
beautifulsoup4
bleach
blinker
build
cachetools
certifi
cffi
charset-normalizer
chromadb
click
colorama
coloredlogs
comm
contourpy
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
distro
durationpy
emoji
executing
faiss-cpu
fastapi
fastjsonschema
filelock
filetype
Flask
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
gunicorn
h11
hf-xet
html5lib
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter-server-mathjax
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_git
jupyterlab_pygments
jupyterlab_server
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-unstructured 
langdetect
langsmith
lxml
lark
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
mpmath
multidict
mypy_extensions
narwhals
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
networkx
nltk
notebook_shim
numpy
nvidia-cublas-cu12 
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
olefile
onnx
onnxruntime
openai
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
pandocfilters
parso
pdf2image
pdfminer.six
pexpect
pi_heif
pillow
pillow_heif
platformdirs
plotly
posthog
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyMuPDF
pyngrok
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
pytesseract
python-dateutil
python-docx
python-dotenv
python-iso639
python-json-logger
python-magic
python-multipart
python-oxmsg
pytz
PyYAML
pyzmq
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
setuptools
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tenacity
terminado
threadpoolctl
tiktoken
timm
tinycss2
tokenizers
toml
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
typer
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured[pdf]
unstructured-client
unstructured-inference
uri-template
urllib3
uvicorn
uvloop
watchdog
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wrapt
yarl
zipp
zstandard
